body {
    background: url(https://vignette.wikia.nocookie.net/yugioh/images/0/03/Series116.jpg/revision/latest?cb=20121011025039);
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 80px;
    background: orange;
}

img {
    margin-top: 50px;
    width: 200px;
    height: 200px;
}

p {
    margin-top: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    background: black;
    color: #ffffff;
    width: 100%;
    margin-bottom: 0;
    height: 100px;
}